{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "gh_app_pem": "<your pem string>",
    "gh_app_id": "<your custom app id>",
    "cosmosdb_connection_string": "<your CcosmosDBs connection string>"
  }
}
